<section>

    <div class="card-container">
        <div class="material-icons-container">
            <span class="material-icons" style="color: red;">star</span>
            <span class="material-icons" style="color: purple;">delete</span>
        </div>
        <div class="card-img"></div>
        <div class="card-data-container">
            <div class="card-data">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="70%">Zucchero</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Sodio</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Sale</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Grassi</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Carboidrati</td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <td>Calorie</td>
                        <td>99</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>


</section>