@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$primary: #8cd6ce;
$highlight: #4400ff;
$border: #cecece;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 50px;
  font-weight: 600;
}