$highlight: #4400ff;
$border: #cecece;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  margin: 100px 50px;
  font-weight: 600;
}

html,
body {
  background-color: #2d3849;
}
